Makefile
Makefile.*
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.pyd
*.pyc
*.pyo
*.dylib
.*.swp
.svn/
*.qm
3rdparty/qwt/src/moc/
qtiplot/qtiplot.app/
qtiplot-manual-en.pdf
tmp/
Lib/
DLLs/
dist/
stage/
logs/
debug/
release/
__pycache__/
.qmake.stash
qt.conf
qtiplot-portable.cmd
README-PORTABLE.txt
.DS_Store
